@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
* {
  /* font-family: "Roboto Condensed", sans-serif; */
  font-family: "Inconsolata", monospace;
}
.fa {
  color: #000000;
}
.fa-lock {
  color: #ffffff;
  padding: 5px;
}
.fa-wrench {
  padding: 5px;
  margin-right: 2px;
  background-color: #2980b9;
}
.fa-code {
  padding: 5px;
  margin-right: 2px;
  background-color: #27ae60;
}
.fa-stack-overflow {
  padding: 7px;
  margin-right: 2px;
  background-color: #f39c12;
}
.fa-line-chart {
  padding: 5px;
  margin-right: 2px;
  background-color: #fd79a8;
}
.fa-sticky-note {
  padding: 7px;
  margin-right: 2px;
  background-color: #6c5ce7;
}
.fa-lightbulb-o {
  padding: 10px;
  margin-right: 2px;
  background-color: #ffffff;
}
.fa-question {
  padding: 10px;
  margin-right: 2px;
  background-color: #f1c40f;
}
.jumbotron {
  background-color: #2c3e50;
  color: white;
  border-radius: 0%;
  padding: 0px;
  /* width: 100%;
  height: 100%; */
  /* padding-bottom: 300px; */
}
body {
  background-color: rgb(40, 42, 54);
  width: 100%;
  height: 100%;
  /* padding: 0px; */
}
div#sidebar {
  padding: 0px;
  background-color: #2c3e50;
  color: white;
  border-radius: 0%;
  padding: 0px;
  /* display: flex;
  flex-direction: column;
  height: 100%; */
}
img#logo {
  padding: 12px;
}

#facebook {
  background: #3b5998;
  color: white;
  border: none;
  border-radius: 50px;
  margin: 5px;
}

#twitter {
  background: #55acee;
  color: white;
  border: none;
  border-radius: 50px;
  margin: 5px;
}
#linkedin {
  background: #007bb5;
  color: white;
  border: none;
  border-radius: 50px;
  margin: 5px;
}
#reddit {
  background: #ff5700;
  color: white;
  border: none;
  border-radius: 50px;
  margin: 5px;
}
i.fa.fa-facebook,
i.fa.fa-twitter,
i.fa.fa-linkedin,
i.fa.fa-reddit {
  color: #fff;
}
#heading {
  padding: 26px;
  color: #2980b9;
}
#text {
  margin-left: 2px;
}
blockquote {
  margin: 0 0 1rem;
  border-left: 4px solid #2c3e50;
  padding-left: 8px;
}
#hist {
  color: #6272a4;
}
h1.App-clock.text-center {
  font-size: 5em;
}
.orangeCol {
  color: #ffb86c !important;
  transition: all 0.2s ease-in;
}
html,
body {
  height: 100%;
}

#red {
  overflow-y: auto;
  height: 85%;
}
#red::-webkit-scrollbar {
  width: 0.25em;
}

#red::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#red::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
#github-hist {
  padding: 0px;
}
p#tabs {
  text-align: center;
}
div#bottom {
    margin-top: 318px;
    padding: 0px;
}
